.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  height: -webkit-fill-available;
  overflow-x: hidden;
}

.ButtonContainer {
  justify-self: flex-end;
}
