.Header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.MaterialIcon {
  margin: auto 0;
}
