.ModalBackdrop,
.ConfirmBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal,
.ConfirmBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #121212;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 90%;
  text-align: center;
}

.ConfirmBox > button {
  margin: 0.5rem;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
