body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

h1 {
  font-family: 'Dynapuff', sans-serif;
  font-size: 64px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 1 ease;
}

.timer-display {
  font-family: 'Inconsolata', monospace;
  font-size: 64px;
  margin: 30px 20px 60px 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input { 
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Reset default input styles */
input[type="number"] {
  -webkit-appearance: none; /* Remove default number input appearance in Webkit browsers (e.g., Chrome, Safari) */
  -moz-appearance: textfield; /* Remove number input appearance in Firefox */
  appearance: none; /* Remove input appearance in general */

  font-family: 'Inconsolata', monospace;
  border: solid 1px white;
  outline: none; 
  background-color: transparent; 
  padding: 10px;
  font-size: 28px;
  text-align: center;
  border-radius: 5px;
  box-shadow: none;
}

.time-input {
  width: 60px; /* Set width */
  margin: 0 5px; /* Spacing between inputs */
}

.label {
  text-align: start;
  font-size: 12px;
  margin-left: 15px;
}

.timer-button {
  font-family: 'Dynapuff', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}

.start {
  background-color: #ffa007;
}
.start:hover {
  background-color: #ffb428;
}

.reset {
  background-color: #2196F3;
}
.reset:hover {
  background-color:  #72bbf7,;
}

/* Default background */
.default-bg {
  background: linear-gradient(to top, #010f2a, #3c2d96);
}

/* Active timer background (orange gradient) */
.active-timer-bg {
  background: linear-gradient(to top, #2e1200, #eb3209);
}

.emoji {
  font-size: 36px;
}