html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #121212;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 20px;
  max-width: 500px;
  height: auto;
  transition: background 1s ease;
}

@media (max-width: 600px) {
  .content {
    padding: 10px;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  margin: 5px;
}

button {
  font-family: 'Roboto', sans-serif;
}

.timer-display {
  font-family: 'Inconsolata', monospace;
  font-size: 64px;
  margin: 30px 20px 60px 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input { 
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  font-family: 'Inconsolata', monospace;
  border: solid 1px white;
  outline: none;
  background-color: transparent;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  border-radius: 5px;
  box-shadow: none;
}

.time-input {
  width: 60px;
  margin: 0 5px;
}

.label {
  text-align: start;
  font-size: 12px;
  margin-left: 15px;
}

.timer-button {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}

.timer-button:focus {
  outline: none;
}

.start {
  background-color: #ffa007;
}
.start:hover {
  background-color: #ffb428;
}

.reset {
  background-color: #2196F3;
}
.reset:hover {
  background-color:  #72bbf7,;
}

/* Default background */
.default-bg {
  background: linear-gradient(to top, #010f2a, #3c2d96);
}

/* Active timer background (orange gradient) */
.active-timer-bg {
  background: linear-gradient(to top, #2e1200, #eb3209);
}

.emoji {
  font-size: 36px;
}

/* Styles for the History Icon Button */
.history-icon {
  background-color: transparent;
  border: none;
  max-height: fit-content;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.history-icon:hover {
  transform: scale(1.2);
}

.history-icon:focus {
  outline: none;
}

/* History Modal Styles */
.history-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.80);
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.history-modal h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.modal-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

/* Flexbox layout for grouped history entries */
.history-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  gap: 15px;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
}

.day-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day-entry .date {
  font-size: 1.2rem;
  font-weight: bold;
}

.history-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-item {
  user-select: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: linear-gradient(to top, rgba(48, 39, 97, 0.7), rgba(60, 45, 150, 0.7));
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.history-item > .entry {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.history-item-label {
  background-color: #3c2d96;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2px 5px;
  width: fit-content;
  border-radius: 0.25rem;
}

.close-modal {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 20rem;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.close-modal:hover {
  background-color: #ff2a2a;
}

.clear-history-button {
  background-color: #ffffff;
  border: none;
  padding: 0.5rem;
  max-height: fit-content;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.clear-history-button:hover {
  background-color: #ff1a1a;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 8px; /* height of the scrollbar (for horizontal scroll) */
}

/* Style for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #19152f; /* color of the scrollbar thumb */
  border-radius: 4px; /* rounded corners */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color:  #221957; /* darker shade on hover */
}

/* Hide the scrollbar track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  background: transparent; /* make the track invisible */
}

/* Remove arrows */
::-webkit-scrollbar-button {
  display: none; /* hides the arrows */
}